section.h-1
    .container
        .wrapper
            h2.title-block AsiaTech Group
            .content-block
                p
                    b CÔNG TY PHÁT TRIỂN CÔNG NGHỆ & MÔI TRƯỜNG Á ĐÔNG – ASIATECH GROUP 
                    | là một trong những công ty công nghệ môi trường chuyên ngành hàng đầu Việt Nam, với đội ngũ kỹ sư lành nghề được đào tạo bởi các tổ chức uy tín trong và ngoài nước. 
                    b ASIATECH 
                    | luôn luôn hướng tới mục tiêu phục vụ và làm thỏa mãn mọi nhu cầu của khách hàng một cách tốt nhất, luôn là người bạn đồng hành của khách hàng. 
                    b ASIATECH 
                    | là một trong những doanh nghiệp kỹ thuật tiêu biểu của Việt Nam có liên kết khoa học và chuyển giao công nghệ với các tổ chức trong và ngoài nước (Đan Mạch, Đức, Pháp, Nga, Singapore, Thái Lan, …).
            .wrap-content
                .row
                    .col-6.col-lg-3
                        .box-content
                            .info-box
                                .image
                                    a(href="")
                                        img(src="./img/ic/love.png", alt="")
                                .title
                                    a(href="") Am Hiểm
                    .col-6.col-lg-3
                        .box-content
                            .info-box
                                .image
                                    a(href="")
                                        img(src="./img/ic/light.png", alt="")
                                .title
                                    a(href="") Sáng tạo
                    .col-6.col-lg-3
                        .box-content
                            .info-box
                                .image
                                    a(href="")
                                        img(src="./img/ic/flower.png", alt="")
                                .title
                                    a(href="") Lợi ích
                    .col-6.col-lg-3
                        .box-content
                            .info-box
                                .image
                                    a(href="")
                                        img(src="./img/ic/shilde.png", alt="")
                                .title
                                    a(href="") An Toàn
            .btn-pri
                .btn-click
                    a(href="").see-more.after Tìm hiểu thêm