section.i-4
    .container
        .item-4
            .row
                .col-12.col-lg-6
                    .content-block
                        .fullcontent
                            h2.title-block Chuyên môn - nhân lực
                            h3 ASIATECH chuyên cung cấp dịch vụ trọn gói: 
                            p
                                b Tư vấn – Thiết kế - Lắp đặt – Nâng cấp – Bảo trì  - Làm thủ tục cấp phép môi trường 
                                |cho các hệ thống xử lý chất thải (Giấy phép xử lý môi trường).
                            p Hơn 100 người : trong đó 01 GS.TSKH, 02 Tiến sĩ, 05 Thạc sĩ, 100 Kỹ sư ( Kỹ sư Môi trường, Xây dựng, Cơ khí, Điện, Kiến trúc sư), Công nhân kỹ thuật & Nhân viên văn phòng.
                .col-12.col-lg-6
                    .image-wrapper
                        a(href="")
                            img(src="./img/introduce/i-4.png", alt="").lazyload