section.h-6
    .container
        .head-title
            h2.title-block tin tức - sự kiện
            .tab
                .tab-item.active
                    a(href="") Tin môi trường
                .tab-item
                    a(href="") Sự kiện
        .news-block
            .row
                .col-12.col-lg-6
                    .news-large
                        .image-wrapper
                            a(href="")
                                img(src="", alt="")
                        .content-block
                            time 02/10/2020
                            h3
                                a(href="") Kinh nghiệm đốt rác phát điện từ thế giới và hiện thực cho Việt Nam
                            p Các loại hình lò đốt rác được sử dụng cũng bao gồm nhiều loại với các phương thức đốt khác nhau như lò đốt hở thủ công, lò đốt một cấp, lò đốt nhiểu cấp, lò đốt thùng quay, lò đốt tầng sôi, lò đốt nhiều tầng, lò đốt kiểu nhiệt phân, lò đốt kiểu khí hóa
                .col-12.col-lg-6
                    .news-small
                        .row.no-gutters
                            .col-12.col-md-5
                                .image-wrapper
                                    a(href="")
                                        img(src="", alt="")
                            .col-12.col-md-7
                                .content-block
                                    time 02/10/2020
                                    h3
                                        a(href="") Kinh nghiệm đốt rác phát điện từ thế giới và hiện thực cho Việt Nam
                                    p Các loại hình lò đốt rác được sử dụng cũng bao gồm nhiều loại với các phương thức đốt khác nhau như lò đốt hở thủ công, lò đốt một cấp, lò đốt nhiểu cấp, lò đốt thùng quay, lò đốt tầng sôi, lò đốt nhiều tầng, lò đốt kiểu nhiệt phân, lò đốt kiểu khí hóa
                    .news-small
                        .row.no-gutters
                            .col-12.col-md-5
                                .image-wrapper
                                    a(href="")
                                        img(src="", alt="")
                            .col-12.col-md-7
                                .content-block
                                    time 02/10/2020
                                    h3
                                        a(href="") Kinh nghiệm đốt rác phát điện từ thế giới và hiện thực cho Việt Nam
                                    p Các loại hình lò đốt rác được sử dụng cũng bao gồm nhiều loại với các phương thức đốt khác nhau như lò đốt hở thủ công, lò đốt một cấp, lò đốt nhiểu cấp, lò đốt thùng quay, lò đốt tầng sôi, lò đốt nhiều tầng, lò đốt kiểu nhiệt phân, lò đốt kiểu khí hóa
                    .news-small
                        .row.no-gutters
                            .col-12.col-md-5
                                .image-wrapper
                                    a(href="")
                                        img(src="", alt="")
                            .col-12.col-md-7
                                .content-block
                                    time 02/10/2020
                                    h3
                                        a(href="") Kinh nghiệm đốt rác phát điện từ thế giới và hiện thực cho Việt Nam
                                    p Các loại hình lò đốt rác được sử dụng cũng bao gồm nhiều loại với các phương thức đốt khác nhau như lò đốt hở thủ công, lò đốt một cấp, lò đốt nhiểu cấp, lò đốt thùng quay, lò đốt tầng sôi, lò đốt nhiều tầng, lò đốt kiểu nhiệt phân, lò đốt kiểu khí hóa