section.hr-2
    .container
        h2.title-block vị trí tuyển dụng
        .content-item
            .row
                .col-12.col-lg-6
                    .item
                        h4
                            a(href="./hr-detail.html") Biên dịch tiếng Nhật
                        .location
                            em.mdi.mdi-map-marker
                            p Ho Chi Minh City
                        .detail
                            .inter
                                .price $ 500 - 1.000 USD
                                .book-time
                                    em.mdi.mdi-calendar-check
                                    time 10/02/2020
                            .see
                                a(href="./hr-detail.html") Xem thêm
                    .item
                        h4
                            a(href="./hr-detail.html") Biên dịch tiếng Nhật
                        .location
                            em.mdi.mdi-map-marker
                            p Ho Chi Minh City
                        .detail
                            .inter
                                .price $ 500 - 1.000 USD
                                .book-time
                                    em.mdi.mdi-calendar-check
                                    time 10/02/2020
                            .see
                                a(href="./hr-detail.html") Xem thêm
                    .item
                        h4
                            a(href="./hr-detail.html") Biên dịch tiếng Nhật
                        .location
                            em.mdi.mdi-map-marker
                            p Ho Chi Minh City
                        .detail
                            .inter
                                .price $ 500 - 1.000 USD
                                .book-time
                                    em.mdi.mdi-calendar-check
                                    time 10/02/2020
                            .see
                                a(href="./hr-detail.html") Xem thêm
                    .item
                        h4
                            a(href="./hr-detail.html") Biên dịch tiếng Nhật
                        .location
                            em.mdi.mdi-map-marker
                            p Ho Chi Minh City
                        .detail
                            .inter
                                .price $ 500 - 1.000 USD
                                .book-time
                                    em.mdi.mdi-calendar-check
                                    time 10/02/2020
                            .see
                                a(href="./hr-detail.html") Xem thêm
                .col-12.col-lg-6
                    .item
                        h4
                            a(href="./hr-detail.html") Biên dịch tiếng Nhật
                        .location
                            em.mdi.mdi-map-marker
                            p Ho Chi Minh City
                        .detail
                            .inter
                                .price $ 500 - 1.000 USD
                                .book-time
                                    em.mdi.mdi-calendar-check
                                    time 10/02/2020
                            .see
                                a(href="./hr-detail.html") Xem thêm
                    .item
                        h4
                            a(href="./hr-detail.html") Biên dịch tiếng Nhật
                        .location
                            em.mdi.mdi-map-marker
                            p Ho Chi Minh City
                        .detail
                            .inter
                                .price $ 500 - 1.000 USD
                                .book-time
                                    em.mdi.mdi-calendar-check
                                    time 10/02/2020
                            .see
                                a(href="./hr-detail.html") Xem thêm
                    .item
                        h4
                            a(href="./hr-detail.html") Biên dịch tiếng Nhật
                        .location
                            em.mdi.mdi-map-marker
                            p Ho Chi Minh City
                        .detail
                            .inter
                                .price $ 500 - 1.000 USD
                                .book-time
                                    em.mdi.mdi-calendar-check
                                    time 10/02/2020
                            .see
                                a(href="./hr-detail.html") Xem thêm
                    .item
                        h4
                            a(href="./hr-detail.html") Biên dịch tiếng Nhật
                        .location
                            em.mdi.mdi-map-marker
                            p Ho Chi Minh City
                        .detail
                            .inter
                                .price $ 500 - 1.000 USD
                                .book-time
                                    em.mdi.mdi-calendar-check
                                    time 10/02/2020
                            .see
                                a(href="./hr-detail.html") Xem thêm