section.news-detail
    .container
        .wrapper
            .row
                .col-12.col-lg-9
                    .content-block
                        h3.title-page Kinh nghiệm đốt rác phát điện từ thế giới và hiện thực cho Việt Nam
                        .box-head
                            time 19/02/2020
                            .media-links
                                a(href="")
                                    em.ri-facebook-fill
                                a(href="")
                                    em.ri-twitter-fill
                        .fullcontent
                            h5 Các loại hình lò đốt rác được sử dụng cũng bao gồm nhiều loại với các phương thức đốt khác nhau như lò đốt hở thủ công, lò đốt một cấp, lò đốt nhiểu cấp, lò đốt thùng quay, lò đốt tầng sôi, lò đốt nhiều tầng, lò đốt kiểu nhiệt phân, lò đốt kiểu khí hóa.
                            h4 Kinh nghiệm từ thế giới
                            p Việc xử lý rác thải thành năng lượng (Waste to Energy) đã tồn tại từ lâu ở các nước phát triển do lượng nhiệt sinh ra từ quá trình đốt rác có thể sử dụng để sản xuất hơi nước hay nước nóng trong các lò hơi phục vụ cho nhu cầu sưởi ấm ở các nước ôn đới, còn để phát điện thì muộn hơn nhiều.
                            p
                                img(src="./img/news/1.png", alt="")
                            p Một số sáng chế nộp đơn đăng ký bản quyền từ đầu những năm 1980 cho việc đốt chất thải phát điện. Khoảng đầu những năm 2000, những lò đốt rác và những trung tâm xử lý rác lớn ra đời và phát triển mạnh hơn với lượng rác đốt lớn để có thể sản xuất hơi quá nhiệt để làm quay turbine cho sản xuất điện.
                            p Vậy công nghệ đốt rác phát điện hoạt động thế nào? Chúng ta hãy xem quy trình cơ bản của một mô hình đốt rác phát điện:
                            p Thu gom và phân loại rác. Việc thu gom và phân loại rác thải là vấn đề quan trọng để xử lý rác hiệu quả. Đặc điểm chung của rác thải là tính chất đa dạng với nhiều loại hình từ kim loại, mảnh sành sứ, rác thải hữu cơ từ thực phẩm, giấy, nilon và các sản phẩm cao su, plastic và nhiều khi có cả đất đá nữa. Trong các thành phần rác thải như vậy, việc thu gom và đốt rác sẽ gặp các vấn đề sau:
                            p – Nếu rác thải có quá ít thành phần cháy được hoặc rác quá ẩm, việc đốt rác là không khả thi vì lượng nhiệt sinh ra không đủ cho quá trình cháy tiếp diễn lâu dài. Điều này thường xảy ra với những khu vực có nhiều lượng rác hữu cơ;
                            p – Thành phần rác có chứa nhiều nilon hay các hợp chất nhựa, thực phẩm dạng thịt, cao su, vải vụn, pin v.v thì hàm lượng chất cháy nhiều hơn nhưng thường có những phát thải độc hại có tính axit cao và những phát thải furan, Dioxin, hơi chì gây độc hại cho môi trường;
                            p – Thành phần rác thải chứa nhiều cục lớn, cứng, cồng kềnh gây khó khăn trong việc chuyên chở, phân loại loại bỏ;
                            p – Việc thu gom và tập kết rác thải luôn gây ô nhiễm mùi khiến cho người lao động và các hộ dân sống gần nơi tập kết và nhà máy xử lý chịu ảnh hưởng trực tiếp và trong nhiều trường hợp sẽ phát sinh những phản đối mạnh mẽ.
                            p Chế biến rác thải thành nhiên liệu. Với đặc tính rác thải đa dạng như vậy, việc chế biến rác thải thành nhiên liệu bao gồm các công đoạn sau:
                            p – Phân loại thành phần rác thải thành dạng cháy được bao gồm có các loại giấy, nilon, cao su v.v.; dạng hữu cơ ngâm ủ được bao gồm các loại phế thải rau, củ, quả và thực phẩm thừa, dạng chất trơ không cháy được bao gồm các loại đất đá, sành sứ, vật liệu xây dựng v.v. Việc phân loại này chỉ có thể thực hiện một cách tương đối với các hệ thống máy phân loại hiện nay.
                            h4 Việt Nam có thể áp dụng được những gì?
                            p
                                img(src="./img/news/2.png", alt="")
                            p Khái niệm “điện rác” đã trở nên khá quen thuộc với Việt Nam từ vài năm trở lại đây. Để có được điều đó, từ khoảng năm 2004, khái niệm và dự án WtE (dự án chuyển hóa rác thải thành năng lượng) đã bắt đầu xuất hiện tại Việt Nam. Cho đến nay, đã có một số nhà đầu tư liên hệ với các địa phương để đề xuất thực hiện dự án đốt chất thải phát điện như:
                            p – Dự án đốt chất thải rắn kết hợp phát điện của Công ty Waste to Energy Pte.Ltd. (Singapore).
                            p – Dự án đốt chất thải rắn kết hợp phát điện tại TP.HCM, tỉnh Bà Rịa Vũng Tàu, Khu kinh tế Dung Quất của Công ty Fluid Tech (Australia).
                            p – Dự án xử lý rác bằng nhiệt phân (Liên doanh giữa Công ty Đại Lâm và Entropic Energy Co, Hoa Kỳ).
                            p – Dự án đốt chất thải rắn kết hợp phát điện của Công ty Keppel – Singapore đãnghiên cứu khả thi cho dự án xây dựng nhà máy đốt rác phát điện công suất 1.000-2.000 tấn/ngày cho TP.HCM.
                            p Từ kinh nghiệm thế giới, có thể thấy, dù lựa chọn loại công nghệ đốt rác phát điện nào thì chúng ta cũng cần áp dụng một cách đồng bộ và nhất quán các quy trình công nghệ, không nên bỏ qua một công đoạn nào.
                            p Các dự án nhà máy đốt rác phát điện tại Việt Nam không dừng lại ở một vài con số như trên. Hiện nay nhiều dự án còn nằm trên giấy vì nhiều lý do, trong đó chủ yếu nhất là chưa đạt được thỏa thuận về chi phí xử lý rác và giá bán điện.
                            p Do nguyên liệu khác biệt nên nếu không phân loại tại nguồn tốt, để lẫn nhiều rác hữu cơ từ thực phẩm, vốn có đặc tính nhiên liệu kém, việc đốt rác trở nên vô cùng khó khăn và tốn kém do phải đốt kèm dầu.
                            p Vì thế, chỉ khi giải quyết được vấn đề phân loại rác và có những chính sách về chi phí xử lý rác cũng như giá bán điện hợp lý thì chúng ta mới thu hút được đầu tư giúp xử lý triệt để vấn đề ô nhiễm môi trường cho các đô thị lớn.
                .col-12.col-lg-3
                    .other-news
                        h2.title-block TIn tức khác
                        .box-news
                            .inbox
                                .image-wrapper
                                    a(href="")
                                        img(src="./img/news/o-1.png", alt="")
                                .content-text
                                    time 02/10/2020
                                    .caption
                                        a(href="") Đề xuất thu phí thoát nước, Thủ tướng yêu cầu TP.HCM đánh giá kỹ
                            .inbox
                                .image-wrapper
                                    a(href="")
                                        img(src="./img/news/o-2.png", alt="")
                                .content-text
                                    time 02/10/2020
                                    .caption
                                        a(href="") Đề xuất thu phí thoát nước, Thủ tướng yêu cầu TP.HCM đánh giá kỹ
                            .inbox
                                .image-wrapper
                                    a(href="")
                                        img(src="./img/project/detail-1.png", alt="")
                                .content-text
                                    time 02/10/2020
                                    .caption
                                        a(href="") Đề xuất thu phí thoát nước, Thủ tướng yêu cầu TP.HCM đánh giá kỹ
                            .inbox
                                .image-wrapper
                                    a(href="")
                                        img(src="./img/news/o-1.png", alt="")
                                .content-text
                                    time 02/10/2020
                                    .caption
                                        a(href="") Đề xuất thu phí thoát nước, Thủ tướng yêu cầu TP.HCM đánh giá kỹ
                            .inbox
                                .image-wrapper
                                    a(href="")
                                        img(src="./img/news/o-1.png", alt="")
                                .content-text
                                    time 02/10/2020
                                    .caption
                                        a(href="") Đề xuất thu phí thoát nước, Thủ tướng yêu cầu TP.HCM đánh giá kỹ
                            .inbox
                                .image-wrapper
                                    a(href="")
                                        img(src="./img/news/o-1.png", alt="")
                                .content-text
                                    time 02/10/2020
                                    .caption
                                        a(href="") Đề xuất thu phí thoát nước, Thủ tướng yêu cầu TP.HCM đánh giá kỹ