section.i-2
    .background-sec2(setBackground="./img/introduce/bg-2.png") 
        .container
            .content-introduce
                .row
                    .col-12.col-lg-6
                        .head-title
                            .title
                                p asiatech
                                    span Người bạn đồng hành
                                    span đáng tin cậy
                            .caption Với thế mạnh về công nghệ và kinh nghiệm xử lý nước cho hơn 700 công trình trong và ngoài nước.
                    .col-12.col-lg-6
                        .content-block
                            .content-group
                                .image
                                    img(src="./img/introduce/love.png", alt="")
                                .text
                                    .title Am hiểm
                                    .content Đội ngũ chuyên gia đầy kinh nghiệm thực tiễn với kiến thức sâu rộng trong lĩnh vực xử lý ô nhiễm môi trường và tư vấn luật phục vụ riêng bản thân của từng dự án.
                            .content-group
                                .image
                                    img(src="./img/introduce/lights.png", alt="")
                                .text
                                    .title Sáng tạo
                                    .content Đội ngũ chuyên gia đầy kinh nghiệm thực tiễn với kiến thức sâu rộng trong lĩnh vực xử lý ô nhiễm môi trường và tư vấn luật phục vụ riêng bản thân của từng dự án.
                            .content-group
                                .image
                                    img(src="./img/introduce/cay.png", alt="")
                                .text
                                    .title Lợi ích
                                    .content Đội ngũ chuyên gia đầy kinh nghiệm thực tiễn với kiến thức sâu rộng trong lĩnh vực xử lý ô nhiễm môi trường và tư vấn luật phục vụ riêng bản thân của từng dự án.
                            .content-group
                                .image
                                    img(src="./img/introduce/shi.png", alt="")
                                .text
                                    .title An toàn
                                    .content Đội ngũ chuyên gia đầy kinh nghiệm thực tiễn với kiến thức sâu rộng trong lĩnh vực xử lý ô nhiễm môi trường và tư vấn luật phục vụ riêng bản thân của từng dự án.