section.h-8
    h2.title-block khách hàng - đối tác
    .container
        .tab-panels
            ul.tab-navigation
                li
                    a(href="javascript:void(0)" ).tab-links Khách hàng nước ngoài
                li
                    a(href="javascript:void(0)" ).tab-links  Khách hàng trong nước
                li
                    a(href="javascript:void(0)" ).tab-links  Đối tác nước ngoài
        .tabcontent
            .index8
                .swiper-container
                    .swiper-wrapper
                        .swiper-slide
                            .brand
                                a(href="")
                                    img(src="./img/brand/thai.png", alt="").lazyload
                        .swiper-slide
                            .brand
                                a(href="")
                                    img(src="./img/brand/univer.png", alt="").lazyload
                        .swiper-slide
                            .brand
                                a(href="")
                                    img(src="./img/brand/crown.png", alt="").lazyload
                        .swiper-slide
                            .brand
                                a(href="")
                                    img(src="./img/brand/univer.png", alt="").lazyload
                        .swiper-slide
                            .brand
                                a(href="")
                                    img(src="./img/brand/red.png", alt="").lazyload
                        .swiper-slide
                            .brand
                                a(href="")
                                    img(src="./img/brand/bud.png", alt="").lazyload
                .swiper-but
                    .swiper-button-next
                    .swiper-button-prev