section.h-8
    h2.title-block khách hàng - đối tác
    .container
        .tab
            .tab-item.active
                a(href="") Khách hàng nước ngoài
            .tab-item
                a(href="") Khách hàng trong nước
            .tab-item
                a(href="") Đối tác nước ngoài
        .index8
            .swiper-container
                .swiper-wrapper
                    .swiper-slide
                        .brand
                            a(href="")
                                img(src="./img/brand/thai.png", alt="").lazyload
                    .swiper-slide
                        .brand
                            a(href="")
                                img(src="./img/brand/univer.png", alt="").lazyload
                    .swiper-slide
                        .brand
                            a(href="")
                                img(src="./img/brand/crown.png", alt="").lazyload
                    .swiper-slide
                        .brand
                            a(href="")
                                img(src="./img/brand/univer.png", alt="").lazyload
                    .swiper-slide
                        .brand
                            a(href="")
                                img(src="./img/brand/red.png", alt="").lazyload
                    .swiper-slide
                        .brand
                            a(href="")
                                img(src="./img/brand/bud.png", alt="").lazyload
            .swiper-but
                .swiper-button-next
                .swiper-button-prev
