.h-8
    padding-bottom: 50px
    .tab
        padding-top: 15px
        display: flex
        justify-content: center
        align-items: center
    .brand
        display: flex
        justify-content: center
        align-items: center
        height: 130px
        a
    .index8
        margin-top: 30px
        display: flex
        justify-content: center
        align-items: center
        position: relative
    .swiper-button-next
        position: absolute
        right: -60px
        z-index: 100
        border: 1px solid #999999
        color: #999999
    .swiper-button-prev
        position: absolute
        left: -60px
        z-index: 100
        border: 1px solid #999999
        color: #999999
    .swiper-but
        @media screen and ( max-width: 1024px )
            display: none