section.hr-list
    .container
        .wrapper
            .info
                .row
                    .col-12.col-lg-6
                        .img-wrapper
                            img(src="./img/hr/1.png", alt="")
                    .col-12.col-lg-6
                        .content-block
                            h2.title-block văn hóa công ty
                            .fullcontent
                                p Được coi là một trong 4 thế mạnh cốt lõi cho sự phát triển bền vững, chính sách nhân sự luôn được AsiaTech quan tâm hàng đầu.
                                p Công Ty xây dựng một chính sách nhân sự ưu việt, những chế độ phúc lợi đặc biệt nhằm thu hút và gìn giữ đội ngũ nhân sự chuyên nghiệp, năng động, sáng tạo, nhiệt huyết, có chuyên môn giỏi để cùng đưa Công Ty trở thành doanh nghiệp phân phối các sản phẩm thời trang chất lượng quốc tế số 1 Việt Nam.
                                p Gia nhập Asiatech, bạn được làm việc trong môi trường năng động, chuyên nghiệp cùng đội ngũ nhân viên giàu kinh nghiệm. Công Ty luôn tạo ra môi trường làm việc thân thiện, chia sẻ và teamwork, với bầu không khí làm việc thoải mái, với nhiều cơ 
                                p Gia nhập Asiatech, bạn được làm việc trong môi trường năng động, chuyên nghiệp cùng đội ngũ nhân viên giàu kinh nghiệm. Công Ty luôn tạo ra môi trường làm việc thân thiện, chia sẻ và teamwork, với bầu không khí làm việc thoải mái, với nhiều cơ 
                                p Gia nhập Asiatech, bạn được làm việc trong môi trường năng động, chuyên nghiệp cùng đội ngũ nhân viên giàu kinh nghiệm. Công Ty luôn tạo ra môi trường làm việc thân thiện, chia sẻ và teamwork, với bầu không khí làm việc thoải mái, với nhiều cơ 