section.i-6
    .contianer
        h2.title-block Khách hàng - đối tác 
        .tab-panels
                ul.tab-navigation
                    li.active
                        a(href="javascript:void(0)"  data-type='tab-1') Khách hàng nước ngoài
                    li
                        a(href="javascript:void(0)" data-type='tab-2') Khách hàng trong nước
                    li
                        a(href="javascript:void(0)" data-type='tab-2') Đối tác chiến lược
        .slide-item
            .container
                .wrap-slide
                    .swiper-container
                        .swiper-wrapper
                            .swiper-slide
                                .brand-list
                                    a(href="")
                                        img(src="./img/services/vsip.png", alt="")
                            .swiper-slide
                                .brand-list
                                    a(href="")
                                        img(src="./img/services/vsip.png", alt="")
                            .swiper-slide
                                .brand-list
                                    a(href="")
                                        img(src="./img/services/vin.png", alt="")
                            .swiper-slide
                                .brand-list
                                    a(href="")
                                        img(src="./img/services/vsip.png", alt="")
                            .swiper-slide
                                .brand-list
                                    a(href="")
                                        img(src="./img/services/vin.png", alt="")
                            .swiper-slide
                                .brand-list
                                    a(href="")
                                        img(src="./img/services/vsip.png", alt="")
                            .swiper-slide
                                .brand-list
                                    a(href="")
                                        img(src="./img/services/vsip.png", alt="")
                    .swiper-but
                        .swiper-button-next
                        .swiper-button-prev