section.h-4
    h2.title-block Dự án tiêu biểu
    .container
        .content-section
            .row
                .col-12.col-lg-6
                    .content-wrapper
                        h3.title-wrapper ASIATECH - người bạn đồng hành cho sự phát triển bền vững của Doanh nghiệp
                        .content-block
                            p Chúng tôi luôn hướng tới mục tiêu phục vụ và  thỏa mãn nhu cầu của khách hàng một cách tốt nhất, đáp ứng được tất cả các yêu cầu về chất lượng của các tổ chức trong nước và quốc tế.
                        .btn-pri
                            .btn-click
                                a(href="").see-more.before Xem tất cả  
                .col-12.col-lg-6
                    .index4
                        .swiper-container
                            .swiper-wrapper
                                .swiper-slide
                                    .image-wrapper
                                        a(href="")
                                            img(src="./img/index/h4.png", alt="").lazyload
                                        .description Dự án trong nước
                                    .title-link
                                        p Dự án xử lý nước thải sinh hoạt
                                        a(href="") Vinhomes Central Park Landmark 81
                                .swiper-slide
                                    .image-wrapper
                                        a(href="")
                                            img(src="./img/index/h4.png", alt="").lazyload
                                        .description Dự án trong nước
                                    .title-link
                                        p Dự án xử lý nước thải sinh hoạt
                                        a(href="") Vinhomes Central Park Landmark 81
                            .swiper-but
                                .swiper-button-next
                                .swiper-button-prev
        

