section.news-list
    .container
        .wrapper
            .links-wrap
                ul.links
                    li
                        a(href="./news-list.html").link-item.active Tin môi trường
                    li
                        a(href="./news-list.html").link-item Sự kiện
                    li
                        a(href="./gallery-list.html").link-item Hình ảnh
                    li
                        a(href="./gallery-clip.html").link-item Video
            .item-news
                .row
                    .col-12.col-lg-6
                        .news-large
                            .image-wrapper
                                a(href="./news-detail.html")
                                    img(src="./img/news/news-1.png", alt="").lazyload
                            .content-block
                                time 02/10/2020
                                a(href="./news-detail.html") Kinh nghiệm đốt rác phát điện từ thế giới và hiện thực cho Việt Nam
                                p Các loại hình lò đốt rác được sử dụng cũng bao gồm nhiều loại với các phương thức đốt khác nhau như lò đốt hở thủ công, lò đốt một cấp, lò đốt nhiểu cấp, lò đốt thùng quay, lò đốt tầng sôi, lò đốt nhiều tầng, lò đốt kiểu nhiệt phân, lò đốt kiểu khí hóa.
                    .col-12.col-lg-6
                        .news-small
                            .row
                                .col-12.col-md-6
                                    .news-small-item
                                        .img-wrapper
                                            a(href="./news-detail.html")
                                                img(src="./img/news/news-2.png", alt="").lazyload
                                        .content 
                                            time 02/10/2020
                                            a(href="./news-detail.html") Đề xuất trả tiền cho người dân để phân loại rác từ nguồn
                                .col-12.col-md-6
                                    .news-small-item
                                        .img-wrapper
                                            a(href="./news-detail.html")
                                                img(src="./img/news/news-1.png", alt="").lazyload
                                        .content 
                                            time 02/10/2020
                                            a(href="./news-detail.html") Đề xuất trả tiền cho người dân để phân loại rác từ nguồn
                                .col-12.col-md-6
                                    .news-small-item
                                        .img-wrapper
                                            a(href="./news-detail.html")
                                                img(src="./img/news/news-2.png", alt="").lazyload
                                        .content 
                                            time 02/10/2020
                                            a(href="./news-detail.html") Đề xuất trả tiền cho người dân để phân loại rác từ nguồn
                                .col-12.col-md-6
                                    .news-small-item
                                        .img-wrapper
                                            a(href="./news-detail.html")
                                                img(src="./img/news/news-3.png", alt="").lazyload
                                        .content 
                                            time 02/10/2020
                                            a(href="./news-detail.html") Đề xuất trả tiền cho người dân để phân loại rác từ nguồn
            .news-small
                .row
                    .col-12.col-md-6.col-lg-3
                        .news-small-item
                            .img-wrapper
                                a(href="./news-detail.html")
                                    img(src="./img/news/news-3.png", alt="").lazyload
                            .content 
                                time 02/10/2020
                                a(href="./news-detail.html") Đề xuất trả tiền cho người dân để phân loại rác từ nguồn
                    .col-12.col-md-6.col-lg-3
                        .news-small-item
                            .img-wrapper
                                a(href="./news-detail.html")
                                    img(src="./img/news/news-1.png", alt="").lazyload
                            .content 
                                time 02/10/2020
                                a(href="./news-detail.html") Đề xuất trả tiền cho người dân để phân loại rác từ nguồn
                    .col-12.col-md-6.col-lg-3
                        .news-small-item
                            .img-wrapper
                                a(href="./news-detail.html")
                                    img(src="./img/news/news-2.png", alt="").lazyload
                            .content 
                                time 02/10/2020
                                a(href="./news-detail.html") Đề xuất trả tiền cho người dân để phân loại rác từ nguồn
                    .col-12.col-md-6.col-lg-3
                        .news-small-item
                            .img-wrapper
                                a(href="./news-detail.html")
                                    img(src="./img/news/news-1.png", alt="").lazyload
                            .content 
                                time 02/10/2020
                                a(href="./news-detail.html") Đề xuất trả tiền cho người dân để phân loại rác từ nguồn Đề xuất trả tiền cho người dân để phân loại rác từ nguồn