section.i-5
    .container
        h2.title-block chứng nhận & bằng khen
        .item-5
            .swiper-container
                .swiper-wrapper
                    .swiper-slide
                        .i-box
                            a(href="")
                                img(src="./img/introduce/i-5-1.png", alt="").lazyload
                        .title
                            a(href="") Bằng chứng nhận ABC
                    .swiper-slide
                        .i-box
                            a(href="")
                                img(src="./img/introduce/i-5-1.png", alt="").lazyload
                        .title
                            a(href="") Bằng chứng nhận ABC
                    .swiper-slide
                        .i-box
                            a(href="")
                                img(src="./img/introduce/i-5-1.png", alt="").lazyload
                        .title
                            a(href="") Bằng chứng nhận ABC
                    .swiper-slide
                        .i-box
                            a(href="")
                                img(src="./img/introduce/i-5-1.png", alt="").lazyload
                        .title
                            a(href="") Bằng chứng nhận ABC
            .swiper-but
                .swiper-button-next
                .swiper-button-prev