.h-3
    .background
        background-image: url(../img/index/h3-earth.png)
        background-size: 100%
        background-repeat: no-repeat
        width: 100%
        display: flex
        position: relative
        align-items: center
        height: 800px
        @media screen and ( max-width: 768.1px )
            display: none
    .title-block
        text-align: left
    .center
        margin: 0 auto
    .item-1
        position: absolute
        top: 20%
        left: 40%
        a
            position: relative
            .i-1
                top: -50%
                left: 32%
                position: absolute
    .item-2
        position: absolute
        top: 10%
        left: 57%
        a
            position: relative
            .i-2
                top: -45%
                left: 32%
                position: absolute
    .item-3
        position: absolute
        top: 20%
        left: 75%
        a
            position: relative
            .i-3
                bottom: -350%
                left: 32%
                position: absolute
    .item-4
        position: absolute
        top: 42%
        right: 5%
        a
            position: relative
            .i-4-s
                position: absolute
                top: -40%
                right: 35%
    .item-5
        position: absolute
        bottom: 20%
        left: 40%
        a
            position: relative
            .i-5-s
                position: absolute
                bottom: -30%
                left: 35%
    .item-6
        position: absolute
        bottom: 10%
        left: 57%
        a
            position: relative
            .i-6-s
                position: absolute
                bottom: -30%
                right: 38%
    .item-7
        position: absolute
        bottom: 20%
        left: 75%
        a
            position: relative
            .i-7-s
                position: absolute
                bottom: -40%
                left: 33%
    .caption
        text-align: center
        width: 120px
    // 2 
    .background-2
        background-image: url(../img/index/h3-earth.png)
        background-size: 100%
        background-repeat: no-repeat
        width: 100%
        display: none
        @media screen and ( max-width: 768px )
            display: block
        .title
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            padding-top: 30px
            .title-block
                margin-bottom: 30px
    .item-box
        margin-top: 30px
    .item-1-c
        margin-bottom: 15px
        position: relative
        display: flex
        justify-content: center
        align-items: center
        .i-1-c
            position: absolute
            top: 25%
            left: 43%
            @media screen and ( max-width: 576px )
                left: 37%
                top: 27%
    .caption-1
        display: flex
        justify-content: center
        width: 120px
        text-align: center
