section.h-3
    .container
        .background
            h2.title-block Dịch vụ trọn gói
            .center
                img(src="./img/index/h3-item.png", alt="")
            .item-1
                a(href="")
                    img(src="./img/index/h3-1.png", alt="")
            .item-2
                a(href="")
                    img(src="./img/index/h3-1.png", alt="")
            .item-3
                a(href="")
                    img(src="./img/index/h3-1.png", alt="")
            .item-4
                a(href="")
                    img(src="./img/index/h3-1.png", alt="")
            .item-5
                a(href="")
                    img(src="./img/index/h3-1.png", alt="")
            .item-6
                a(href="")
                    img(src="./img/index/h3-1.png", alt="")
            .item-7
                a(href="")
                    img(src="./img/index/h3-1.png", alt="")