section.h-3
    .container
        .background
            h2.title-block Dịch vụ trọn gói
            .center
                img(src="./img/index/h3-item.png", alt="").lazyload
            .item-1
                a(href="")
                    img(src="./img/index/h3-1.png", alt="").lazyload
                    .i-1
                        img(src="./img/index/1.png", alt="").lazyload
                    .caption Tư vấn luật
            .item-2
                a(href="")
                    img(src="./img/index/h3-1.png", alt="").lazyload
                    .i-2
                        img(src="./img/index/2.png", alt="").lazyload
                    .caption Thiết kế công nghệ
                    
            .item-3
                a(href="")
                    img(src="./img/index/h3-1.png", alt="").lazyload
                    .i-3
                        img(src="./img/index/3.png", alt="").lazyload
                    .caption Thi công xây dựng
                    
            .item-4
                a(href="")
                    img(src="./img/index/h3-1.png", alt="").lazyload
                    .i-4-s
                        img(src="./img/index/1.png", alt="").lazyload
                    .caption Lắp đặt thiết bị
                    
            .item-5
                a(href="")
                    img(src="./img/index/h3-1.png", alt="").lazyload
                    .i-5-s
                        img(src="./img/index/7.png", alt="").lazyload
                    .caption Làm thủ tục cấp phép môi trường
                    
            .item-6
                a(href="")
                    img(src="./img/index/h3-1.png", alt="").lazyload
                    .i-6-s
                        img(src="./img/index/6.png", alt="").lazyload
                    .caption Nâng cấp, cải tạo
                    
            .item-7
                a(href="")
                    img(src="./img/index/h3-1.png", alt="").lazyload
                    .i-7-s
                        img(src="./img/index/5.png", alt="").lazyload
                    .caption Vận hành bảo trì
                    
        .background-2
            .title
                h2.title-block Dịch vụ trọn gói
                .center
                    img(src="./img/index/h3-item.png", alt="").lazyload
            .item-box
                .row
                    .col-6
                        .item-1-c
                            a(href="")
                                img(src="./img/index/h3-1.png", alt="").lazyload
                                .i-1-c
                                    img(src="./img/index/1.png", alt="").lazyload
                                .caption-1 Tư vấn luật
                    .col-6
                        .item-1-c
                            a(href="")
                                img(src="./img/index/h3-1.png", alt="").lazyload
                                .i-1-c
                                    img(src="./img/index/2.png", alt="").lazyload
                                .caption-1 Thiết kế công nghệ
                    .col-6
                        .item-1-c
                            a(href="")
                                img(src="./img/index/h3-1.png", alt="").lazyload
                                .i-1-c
                                    img(src="./img/index/3.png", alt="").lazyload
                                .caption-1 Thi công xây dựng
                    .col-6
                        .item-1-c
                            a(href="")
                                img(src="./img/index/h3-1.png", alt="").lazyload
                                .i-1-c
                                    img(src="./img/index/1.png", alt="").lazyload
                                .caption-1 Lắp đặt thiết bị
                    .col-6
                        .item-1-c
                            a(href="")
                                img(src="./img/index/h3-1.png", alt="").lazyload
                                .i-1-c
                                    img(src="./img/index/5.png", alt="").lazyload
                                .caption-1 Làm thủ tục cấp phép môi trường
                    .col-6
                        .item-1-c
                            a(href="")
                                img(src="./img/index/h3-1.png", alt="").lazyload
                                .i-1-c
                                    img(src="./img/index/6.png", alt="").lazyload
                                .caption-1 Nâng cấp, cải tạo
                    .col-6
                        .item-1-c
                            a(href="")
                                img(src="./img/index/h3-1.png", alt="").lazyload
                                .i-1-c
                                    img(src="./img/index/7.png", alt="").lazyload
                                .caption-1 Vận hành, bảo trì