extends _layout.pug

block var
	- var title = 'Tuyển dụng '
	- var bodyClass = 'project-page'

block main
	include ../components/banner/page-banner
	include ../components/hr/index
	include ../components/hr/hr-2/index
