extends _layout.pug

block var
	- var title = 'Giới thiệu'
	- var bodyClass = 'project-page'

block main
	include ../components/banner/page-banner
	include ../components/introduce/index
	include ../components/introduce/i-2/index
	include ../components/introduce/i-3/index
	include ../components/introduce/i-4/index
	include ../components/introduce/i-5/index
	include ../components/introduce/i-6/index
