extends _layout.pug

block var
	- var title = 'Công nghệ chi tiết'
	- var bodyClass = 'project-page'

block main
	include ../components/banner/page-banner
	include ../components/technology/detail/index
