section.hr-detail
    .container
        .wrapper
            .row
                .col-12.col-lg-9
                    .content-item
                        .content-block
                            h3.title-page Biên phiên dich tiếng Nhật
                            .box-head
                                .media-links
                                    a(href="")
                                        em.ri-facebook-fill
                                    a(href="")
                                        em.ri-twitter-fill
                        .fullcontent
                            h4 Mô tả công việc
                            ul
                                li Phiên dịch tiếng Nhật cho các kỹ sư.
                                li Tham gia vào việc Điều phối công việc cho Ban quản lý dự án theo yêu cầu hoặc khi cần thiết;
                                li Xúc tiến công việc dự án; 
                                li Quản lý các công việc liên quan đền hồ sơ dự án;
                                li Chuẩn bị Biên bản họp, viết biên bản cuộc họp.
                                li Nhận, sàng lọc, lưu và gửi thông tin dự án, bản vẽ, thông tin cơ bản cần thiết.
                                li Tạo và duy trì mối quan hệ tốt với toàn bộ nhóm dự án. 
                            h4 Kinh nghiệm / Kỹ năng chi tiết
                            ul
                                li Giới tính : Nam. 
                                li Độ tuổi : 25 - 45
                                li Tốt nghiệp các ngành ngữ văn Nhật – biên phiên dịch.
                                li Đã từng làm phiên dịch cho các dự án thi công xây dựng.
                            h4 Quyền lợi chung
                            ul
                                li Làm việc trong môi trường năng động, chuyên nghiệp.
                                li Chế độ tốt, lương tương xứng với năng lực.
                                li Mức lương hấp dẫn theo thỏa thuận, căn cứ vào năng lực khi phỏng vấn
                            h4 Hạn nộp hồ sơ
                            ul
                                li Gởi qua email bằng cách click vào “nộp đơn”, hoặc gởi trực tiếp tại văn phòng công ty Asiatech.
                                li Địa chỉ : Lầu 3, Tòa nhà Vinalines, Số 163 Nguyễn Văn Trỗi, P11,Q.Phú Nhuận
                                li Chúng tôi sẽ ưu tiên xem xét hồ sơ đến trước, việc tuyển dụng sẽ chấm dứt khi công ty tìm được ƯV thích hợp,
                                li Liên hệ: ĐT: (08) 38445436 gặp Ms.Mi.
                        .btn-hr
                            .UT
                                a(href="") Ứng tuyển
                            p Hoặc
                            .UT
                                a(href="") tải mẫu thông tin ứng viên
                .col-12.col-lg-3
                    h3.title tuyển dụng khác
                    .item-hr
                        h4
                            a(href="") Kỹ sư vận hành
                        .location
                            em.mdi.mdi-map-marker
                            p Ho Chi Minh City
                        .detail
                            .price $ 500 - 1.000 USD
                            .book-time
                                em.mdi.mdi-calendar-check
                                time 10/02/2020
                    .item-hr
                        h4
                            a(href="") Kỹ sư vận hành
                        .location
                            em.mdi.mdi-map-marker
                            p Ho Chi Minh City
                        .detail
                            .price $ 500 - 1.000 USD
                            .book-time
                                em.mdi.mdi-calendar-check
                                time 10/02/2020
                    .item-hr
                        h4
                            a(href="") Kỹ sư vận hành
                        .location
                            em.mdi.mdi-map-marker
                            p Ho Chi Minh City
                        .detail
                            .price $ 500 - 1.000 USD
                            .book-time
                                em.mdi.mdi-calendar-check
                                time 10/02/2020