section.gallery-list
    .container
        .wrapper
            .links-wrap
                ul.links
                    li
                        a(href="").link-item Tin môi trường
                    li
                        a(href="").link-item Sự kiện
                    li
                        a(href="").link-item.active Hình ảnh
                    li
                        a(href="").link-item Video
            .gallery-wrapper
                .row
                    .col-12.col-lg-9
                        .gallery-large
                            a(href="")
                                img(src="./img/gallery/large.png", alt="")
                                .caption Album1
                    .col-12.col-lg-3
                        .gallery-small
                            a(href="")
                                img(src="./img/gallery/large.png", alt="")
                                .caption Album1
                        .gallery-small
                            a(href="")
                                img(src="./img/gallery/large.png", alt="")
                                .caption Album1
                        .gallery-small
                            a(href="")
                                img(src="./img/gallery/large.png", alt="")
                                .caption Album1
            .gallery-list
                .row
                    .col-12.col-md-6.col-lg-3
                        .gallery-small
                            a(href="")
                                img(src="./img/gallery/large.png", alt="")
                                .caption Album1
                    .col-12.col-md-6.col-lg-3
                        .gallery-small
                            a(href="")
                                img(src="./img/gallery/large.png", alt="")
                                .caption Album1
                    .col-12.col-md-6.col-lg-3
                        .gallery-small
                            a(href="")
                                img(src="./img/gallery/large.png", alt="")
                                .caption Album1
                    .col-12.col-md-6.col-lg-3
                        .gallery-small
                            a(href="")
                                img(src="./img/gallery/large.png", alt="")
                                .caption Album1