section.h-2
    h2.title-block Dịch vụ
    .container
        .item-block
            .row
                .col-12.col-lg-8
                    .content-box
                        .image-wrapper
                            a(href="")
                                img(src="./img/index/h2-1.png", alt="").lazyload
                        .title
                            a(href="") Xử lý nước cấp
                        .content-block
                            .img-logo
                                img(src="./img/index/logo-icon.png", alt="")
                                p 
                                    a(href="") Xử lý nước thải
                            .full-content
                                p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veritatis tempora labore officia obcaecati qui, soluta aperiam natus delectus vero ipsum facere, quaerat debitis ipsa itaque deleniti ut temporibus, illum eveniet.
                .col-12.col-lg-4
                    .content-box
                        .image-wrapper-small
                            a(href="")
                                img(src="./img/index/h2-2.png", alt="").lazyload
                        .title
                            a(href="") Xử lý nước cấp
                        .content-block2
                            .img-logo
                                img(src="./img/index/logo-icon.png", alt="")
                                p 
                                    a(href="") Xử lý nước thải
                            .full-content
                                p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veritatis tempora labore officia obcaecati qui, soluta aperiam natus delectus vero ipsum facere, quaerat debitis ipsa itaque deleniti ut temporibus, illum eveniet.
                    .content-box
                        .image-wrapper-small
                            a(href="")
                                img(src="./img/index/h2-3.png", alt="").lazyload
                        .title
                            a(href="") Tư vấn luật môi trường
                        .content-block2
                            .img-logo
                                img(src="./img/index/logo-icon.png", alt="")
                                p 
                                    a(href="") Xử lý nước thải
                            .full-content
                                p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veritatis tempora labore officia obcaecati qui, soluta aperiam natus delectus vero ipsum facere, quaerat debitis ipsa itaque deleniti ut temporibus, illum eveniet.