footer
    .footer-top
        .container
            .row
                .col-12.col-lg-6.col-xl-3
                    .box-foot
                        h3.title-block.pb-2 Asiatech Group
                        .content-block
                            h5.title Văn phòng chính
                            p 
                                em.mdi.mdi-map-marker
                                span Lầu 5, Tòa nhà 131 Trần Huy Liệu, Q. Phú Nhuận, Tp. Hồ Chí Minh, Việt Nam
                        .content-block
                            h5.title Chi nhánh hà nội
                            p 
                                em.mdi.mdi-map-marker
                                span Tòa nhà 31 Thọ Tháp, Q. Cầu Giấy, Hà Nội, Việt Nam
                            p 
                                em.mdi.mdi-phone
                                span 
                                    a(href="tel:+ +84 28 3844 5436") +84 28 3844 5436
                            p
                                em.mdi.mdi-cellphone
                                span 
                                    a(href="tel:+ +84 903 000 650") +84 903 000 650
                            p
                                em.mdi.mdi-email
                                span 
                                    a(href="mailto: infos@asiatech.com.vn") infos@asiatech.com.vn
                            p
                                em.mdi.mdi-earth
                                span 
                                    a(href="http://asiatech.com.vn/") www.asiatech.com.vn
                .col-12.col-md-6.col-lg-6.col-xl-2
                    .box-foot
                        h3.title-block.pb-2 Giới thiệu
                        .content-block
                            p
                                a(href="") Tổng quan
                            p
                                a(href="") Lịch sử phát triển
                            p
                                a(href="") Tầm nhìn - Sứ mệnh
                            p
                                a(href="") Giá trị cốt lõi
                            p
                                a(href="") Chứng chỉ - Chứng nhận
                .col-12.col-md-6.col-lg-4.col-xl-2
                    .box-foot
                        h3.title-block.pb-2 Dịch vụ
                        .content-block
                            p
                                a(href="") Xử lý nước thải
                            p
                                a(href="") Xử lý nước cấp
                            p
                                a(href="") Tư vấn luật môi trường
                .col-12.col-md-6.col-lg-4.col-xl-2
                    .box-foot
                        h3.title-block.pb-2 Liên kết nhanh
                        .content-block
                            p
                                a(href="") Dự án
                            p
                                a(href="") Công nghệ
                            p
                                a(href="") Tin tức
                            p
                                a(href="") Tuyển dụng
                            p
                                a(href="") Liên hệ
                .col-12.col-md-6.col-lg-4.col-xl-3
                    .box-foot
                        h3.title-block.pb-2 Chứng nhận
                        .content-image-block
                            .row
                                .col-6
                                    .img-ic
                                        a(href="")
                                            img(src="./img/ic/ic-foot.png", alt="")
                                .col-6
                                    .img-ic
                                        a(href="")
                                            img(src="./img/ic/ic-foot-2.png", alt="")
                    .box-connect
                         h3.title-block.pb-2 Kết nối với chúng tôi
                         .content-link-block
                            a(href="").link
                                em.mdi.mdi-facebook
                            a(href="").link
                                em.mdi.mdi-instagram
                            a(href="").link
                                em.mdi.mdi-youtube
    .footer-bot
        .container
            .content-block
                .copyright Copyright © 2020 AsiaTech Group. All Rights Reserved. Designed by Cánh Cam.
                .sitemap
                    a(href="") Chính sách bảo mật
                    span | 
                    a(href="") Điều khoản sử dụng
                    span |
                    a(href="") Sitemap
