section.services-list
    .container
        .wrapper
            .links-wrap
                ul.links
                    li
                        a(href="").link-item Tư vấn Môi Trường
                    li
                        a(href="").link-item Tư vấn Môi Trường
                    li
                        a(href="").link-item Tư vấn Môi Trường
            h2.title-block Tư vấn luật môi trường
            .item
                .row.no-gutters
                    .col-12.col-xl-6
                        .content-block
                            h3 ASIATECH, với đội ngũ kỹ sư – chuyên gia tư vấn am hiểu về pháp luật môi trường và kinh nghiệm
                            p Có kinh nghiệm tư vấn thành công cho hơn 7000 doanh nghiệp lớn nhỏ trong và ngoài nước, với bề dày hoạt động gần 20 năm trong lĩnh vực môi trường, tự tin là người bạn đồng hành vững bước cùng sự phát triển của các doanh nghiệp.
                    .col-12.col-xl-6
                        .image-block
                            a(href="https://www.youtube.com/watch?v=uqAc00kre44" data-fancybox="")
                                img(src="./img/services/h-1.png", alt="")
                                .play
                                    span.mdi.mdi-play-outline
            .description
                p Sự cần thiết của dịch vụ Tư vấn luật Môi trường đối với các Doanh nghiệp trong và ngoài nước:
                p Theo đà phát triển chung của nền kinh tế, khi các hoạt động sản xuất - kinh doanh ngày càng phát triển, các khu công nghiệp ngày càng được mở rộng thì việc môi trường sống ngày càng bị ô nhiễm trầm trọng là một hệ quả không thể tránh khỏi. 
                p Nhằm hạn chế ô nhiễm và giảm thiểu tác động xấu đến môi trường, Chính phủ và các cơ quan ban ngành đã ban hành nhiều quy định nghiêm ngặt buộc các doanh nghiệp sắp, đang và đã hoạt động phải tuân thủ các quy định bảo vệ môi trường trong quá trình sản xuất, kèm theo nhiều chế tài trong việc xử lý ô nhiễm môi trường mà các doanh nghiệp thường không có đủ năng lực và hiểu biết về pháp luật môi trường để đáp ứng một cách đúng đắn và đầy đủ nhất. 
                p Vì vậy, việc tìm kiếm và lựa chọn một công ty dịch vụ tư vấn luật môi trường có uy tín để làm đối tác lâu dài cho sự phát triển bền vững của doanh nghiệp là một nhu cầu thiết yếu. 
            .services-other
                h2.title-block dịch vụ tư vấn luật liên quan
                .tab-panels
                    ul.tab-navigation
                        li
                            a(href="javascript:void(0)" ).tab-links Báo cáo đánh giá tác động môi trường
                        li
                            a(href="javascript:void(0)" ).tab-links  Kế hoạch vận hành thử nghiệm các công trình xử lý chất thải của dự án  
                        li
                            a(href="javascript:void(0)" ).tab-links  SỔ QUẢN LÝ CHỦ NGUỒN THẢI CHẤT THẢI NGUY HẠI
                        li
                            a(href="javascript:void(0)" ).tab-links  Báo cáo hoàn thành các công trình bảo vệ môi trường (Hoàn thành sau ĐTM)
                        li
                            a(href="javascript:void(0)" ).tab-links  Báo cáo hoàn thành các công trình bảo vệ môi trường (Hoàn thành sau ĐTM)
                        li
                            a(href="javascript:void(0)" ).tab-links  GIẤY PHÉP ĐẤU NỐI NƯỚC THẢI
                        li
                            a(href="javascript:void(0)" ).tab-links  Báo cáo hoàn thành các công trình bảo vệ môi trường (Hoàn thành sau ĐTM)
                        li
                            a(href="javascript:void(0)" ).tab-links  Báo cáo hoàn thành các công
                        li
                            a(href="javascript:void(0)" ).tab-links  Báo cáo hoàn thành các công trình bảo vệ môi trường (Hoàn thành sau ĐTM)
                .box-content
                    .row
                        .col-12.col-md-6
                            .block-content
                                h3 Báo cáo hoàn thành các công trình bảo vệ môi trường (Hoàn thành sau ĐTM)
                                p Sau khi đầu tư và hoàn tất xây dựng các công trình bảo vệ môi trường,  và thử nghiệm các công trình xử lý chất thải và công trình UPSC, Chủ dự án sẽ phải thực hiện Thủ tục lập Báo cáo hoàn thành các công trình bảo vệ môi trường trước khi đưa dự án vào vận hành chính thức.
                        .col-12.col-md-6
                            .image-wrapper
                                a(href="")
                                    img(src="./img/services/circle.png", alt="")
    .slide-item
        h2.title-block dự án tư vấn thành công
        .container
            .wrap-slide
                .swiper-container
                    .swiper-wrapper
                        .swiper-slide
                            .brand-list
                                a(href="")
                                    img(src="./img/services/vsip.png", alt="")
                        .swiper-slide
                            .brand-list
                                a(href="")
                                    img(src="./img/services/vsip.png", alt="")
                        .swiper-slide
                            .brand-list
                                a(href="")
                                    img(src="./img/services/vin.png", alt="")
                        .swiper-slide
                            .brand-list
                                a(href="")
                                    img(src="./img/services/vsip.png", alt="")
                        .swiper-slide
                            .brand-list
                                a(href="")
                                    img(src="./img/services/vin.png", alt="")
                        .swiper-slide
                            .brand-list
                                a(href="")
                                    img(src="./img/services/vsip.png", alt="")
                        .swiper-slide
                            .brand-list
                                a(href="")
                                    img(src="./img/services/vsip.png", alt="")
                .swiper-but
                    .swiper-button-next
                    .swiper-button-prev