section.h-7
    h2.title-block Video
    .container
        .fullcontent Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis doloremque, mollitia libero similique quos aut odio fugit odit facere sit totam consequatur eos vero saepe alias labore soluta numquam voluptatum!
        .content-block
            .row
                .col-12.col-md-8
                    .box-clip
                        .clip-wrapper
                            a(href="https://www.youtube.com/watch?v=uqAc00kre44" data-fancybox="" alt="")
                                //- img(src="./img/index/h7-clip.png", alt="").lazyload
                                //- .play
                                //-     //- a(href="https://www.youtube.com/watch?v=uqAc00kre44" data-fancybox="video-1" alt="")
                                //-     span.mdi.mdi-play-outline
