sectio.project-detail
    .container
        .wrapper
            h2.title-block KCN VSIP ( Bình Dương, Quảng Ngãi, Nghệ An )
            .project-thumb-detail
                .swiper-container.gallery-top
                    .swiper-wrapper
                        .swiper-slide
                            a(href="javascript:;")
                                img(src="./img/project/detail-1.png", alt="")
                        .swiper-slide
                            a(href="javascript:;")
                                img(src="./img/project/detail-1.png", alt="")
                        .swiper-slide
                            a(href="javascript:;")
                                img(src="./img/project/detail-1.png", alt="")
                        .swiper-slide
                            a(href="javascript:;")
                                img(src="./img/project/detail-1.png", alt="")
                .swiper-container.gallery-thumbs
                    .swiper-wrapper
                        .swiper-slide
                            a(href="javascript:;")
                                img(src="./img/project/detail-1.png", alt="")
                        .swiper-slide
                            a(href="javascript:;")
                                img(src="./img/project/detail-1.png", alt="")
                        .swiper-slide
                            a(href="javascript:;")
                                img(src="./img/project/detail-1.png", alt="")
                        .swiper-slide
                            a(href="javascript:;")
                                img(src="./img/project/detail-1.png", alt="")
                .swiper-but
                    .swiper-button-next
                    .swiper-button-prev
            .caption Lorem ipsum, dolor sit amet consectetur adipisicing elit. Hic quas culpa eos, modi a iste? Earum aut autem ipsa laboriosam repudiandae, voluptates eveniet labore accusantium perspiciatis odit soluta eaque? Nihil.
            .info-wrapper
                .info-group
                    .title Dự án
                    .content Dự án xây dựng hệ thống XLNT KCN VSIP Bình Dương (6.000 M3/NGÀY.ĐÊM)
                .info-group
                    .title Chủ đầu tư
                    .content Công ty Liên Doanh TNHH KCN Việt Nam - Singapore
                .info-group
                    .title Địa điểm
                    .content KCN VSIP II – Thuận An – Bình Dương.
                .info-group
                    .title Loại dự án
                    .content Khu Công nghiệp
                .info-group
                    .title Thời gian
                    .content 2019
                .info-group
                    .title Công suất
                    .content 6000 m3/Ngày.Đêm"
            .project-pop
                .container
                    .sec-project
                        h3.title-block-2 dự án tiêu biểu
                        .demo
                            .swiper-container
                                .swiper-wrapper
                                    .swiper-slide
                                        .item
                                            a(href="")
                                                img(src="./img/services/kcn-small.png", alt="").lazyload
                                        .title
                                            a(href="") KCN Minh Hưng - Hàn Quốc
                                    .swiper-slide
                                        .item
                                            a(href="")
                                                img(src="./img/services/kcn-small.png", alt="").lazyload
                                        .title
                                            a(href="") KCN Minh Hưng - Hàn Quốc
                                    .swiper-slide
                                        .item
                                            a(href="")
                                                img(src="./img/services/kcn-small.png", alt="").lazyload
                                        .title
                                            a(href="") KCN Minh Hưng - Hàn Quốc
                                    .swiper-slide
                                        .item
                                            a(href="")
                                                img(src="./img/services/kcn-small.png", alt="").lazyload
                                        .title
                                            a(href="") KCN Minh Hưng - Hàn Quốc
                            .swiper-but
                                .swiper-button-next
                                .swiper-button-prev

