section.technology-detail
    .container
        .wrapper
            .image-thumb
                .swiper-container.gallery-top
                    .swiper-wrapper
                        .swiper-slide
                            a(href="javascript:;")
                                img(src="./img/tech/top-1.png", alt="")
                        .swiper-slide
                            a(href="javascript:;")
                                img(src="./img/tech/top-1.png", alt="")
                        .swiper-slide
                            a(href="javascript:;")
                                img(src="./img/tech/top-1.png", alt="")
                        .swiper-slide
                            a(href="javascript:;")
                                img(src="./img/tech/top-1.png", alt="")
                .swiper-container.gallery-thumbs
                    .swiper-wrapper
                        .swiper-slide
                            a(href="javascript:;")
                                img(src="./img/tech/top-1.png", alt="")
                        .swiper-slide
                            a(href="javascript:;")
                                img(src="./img/tech/top-1.png", alt="")
                        .swiper-slide
                            a(href="javascript:;")
                                img(src="./img/tech/top-1.png", alt="")
                        .swiper-slide
                            a(href="javascript:;")
                                img(src="./img/tech/top-1.png", alt="")
                .swiper-but
                    .swiper-button-next
                    .swiper-button-prev
            .fullcontent
                p CÔNG NGHỆ XỬ LÝ WETLAND có nguồn gốc từ Đan Mạch, áp dụng thành công ở Thái Lan và đây cũng là lần đầu tiên ứng dụng tại Việt Nam. Được gọi là cánh đồng tưới, công nghệ này xử lý nước thải mà tiêu chí là không dùng hóa chất, thân thiện với môi trường. 
                p Trong đó, nước thải được xử lý bằng phương pháp sinh học nhờ loại cây thủy sinh. Các loại cây này có khả năng hấp thụ các chất ô nhiễm như các chất hữu cơ, amoni, các kim loại nặng (As, Fe, ...) chúng sử dụng như nguồn thức ăn hấp thụ và phát triển thành sinh khối. Trong quá trình phát triển, chúng loại bỏ được các chất ô nhiễm có trong nước thải. 
                p Đặc biệt, nước thải sau xử lý sẽ được kiểm soát chất lượng, các chỉ tiêu ô nhiễm nước đầu ra chặt chẽ bằng hệ quan trắc tự động.
                p Ưu điểm lớn nhất của công nghệ này là xử lý nước thải hoàn toàn bằng phương pháp sinh học và cơ học, không sử dụng hóa chất. Không chỉ là giải pháp xử lý nước thải thân thiện với môi trường, hạn chế tối đa ảnh hưởng của nhà máy đối với dân cư sống trong khu vực lân cận và phù hợp với xu thế phát triển của thế giới mà còn góp phần tiết kiệm hóa chất, điện năng tiêu thụ.
                p Công ty ASIATECH - đơn vị tổng thầu thiết kế và thi công Nhà máy xử lý nước thải WHA industrial Zone 1 là một trong những doanh nghiệp khoa học công nghệ môi trường hàng đầu Việt Nam. Công ty liên kết, chuyển giao công nghệ với các tổ chức danh tiếng trong nước và trên thế giới; đã tư vấn, thiết kế, thi công, lắp đặt và chuyển giao công nghệ hàng trăm công trình xử lý môi trường tại Việt Nam, với công suất xử lý lên đến 50.000m3/ngày.đêm.
            .news-other
                h3.title-block công nghệ khác
                .content-news
                    .swiper-container
                        .swiper-wrapper
                            .swiper-slide
                                .img-news
                                    a(href="")
                                        img(src="./img/tech/news1.png", alt="")
                                        .title
                                            h5 xử lý nước thải có độ màu cao
                            .swiper-slide
                                .img-news
                                    a(href="")
                                        img(src="./img/tech/news1.png", alt="")
                                        .title
                                            h5 xử lý nước thải có độ màu cao
                            .swiper-slide
                                .img-news
                                    a(href="")
                                        img(src="./img/techs/news1.png", alt="")
                                        .title
                                            h5 xử lý nước thải có độ màu cao
                            .swiper-slide
                                .img-news
                                    a(href="")
                                        img(src="./img/tech/news1.png", alt="")
                                        .title
                                            h5 xử lý nước thải có độ màu cao
                    .swiper-but
                        .swiper-button-next
                        .swiper-button-prev