seciton.h-5
    .container
        .index5
            .row
                .col-12.col-md-6.col-lg-4
                   .box
                        .box-index5
                            a(href="")
                                img(src="./img/index/h5.png", alt="").lazyload
                        .content-block
                            a(href="").title Dự án trong nước
                .col-12.col-md-6.col-lg-4
                    .box
                        .box-index5
                            a(href="")
                                img(src="./img/index/h5-2.png", alt="").lazyload
                        .content-block
                            a(href="").title Dự án quốc tế
                .col-12.col-md-6.col-lg-4
                    .box
                        .box-index5
                            a(href="")
                                img(src="./img/index/h5-2.png", alt="").lazyload
                        .content-block
                            a(href="").title Dự án oda