section.i-3
    .container
        .item-3
            .row
                .col-12.col-lg-6
                    .image-wrapper
                        img(src="./img/introduce/i-3.png", alt="").lazyload
                .col-12.col-lg-6
                    .content-block
                        .fullcontent
                            h2.title-block Tầm nhìn - Sứ mệnh
                            h5 Tầm nhìn
                            p Trở thành một đối tác hàng đầu đáng tin cậy trong lĩnh vực xử lý môi trường bằng việc cung cấp các giải pháp phát triển bền vững cho tất cả các khách hàng trong và ngoài nước.
                            h5 Sứ mệnh
                            p Cung cấp các giải pháp linh hoạt, các phương án xử lý môi trường với công nghệ tiên tiến nhất, đáng tin cậy, hiệu quả và thân thiện với môi trường.
                            span Cung cấp các giải pháp linh hoạt, các phương án xử lý môi trường với công nghệ tiên tiến nhất, đáng tin cậy, hiệu quả và thân thiện với môi trường.
                            span Gìn giữ và phát triển mối quan hệ với khách hàng và đối tác chiến lược