section.services-kcn
    .container
        .wrapper
            h2.title-block khu công nghiệp
            .fullcontent
                p Nước thải Khu công nghiệp phát sinh từ các hoạt động sản xuất của các Nhà máy trong Khu công nghiệp. Nước thải của các KCN có thành phần, tính chất và mức độ ô nhiễm khác nhau do đặc thù hoạt động của các nhà máy, ngành nghề hoạt động trong các Khu công nghiệp khác nhau.
                p
                    b Ưu điểm
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Nisl tincidunt eget nullam non.
                    |Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Nisl tincidunt eget nullam non.
                p 
                    b Nhược điểm
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Nisl tincidunt eget nullam non.
                p
                    img(src="./img/services/kcn-1.png", alt="").lazyload
    .tech-wrap
        .container
            .item-wrap
                .row
                    .col-12.col-lg-6
                        .content-block
                            h3.title-block-2 công nghệ áp dụng
                            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident dolores fugiat ullam similique veniam? Totam, quo doloremque. Officiis voluptatem aliquam error, nisi unde illum fuga, id totam iusto veniam neque?
                    .col-12.col-lg-6
                        .wrap-img
                            .swiper-container
                                .swiper-wrapper
                                    .swiper-slide
                                        .image-wrapper
                                            a(href="javascript:;" data-fancybox="" data-src="#modal")
                                                img(src="./img/services/kcn-2.png", alt="").lazyload
                                        .title
                                            a(href="javascript:;" data-fancybox="" data-src="#modal") XLNT có độ màu cao
                            .swiper-but
                                .swiper-button-next
                                .swiper-button-prev
            #modal
                .fullcontent
                    p
                        img(src="./img/services/pop-up.png", alt="")
                    h3 XLNT CÓ ĐỘ MÀU CAO 
                    p Trong các nguồn phát sinh ô nhiễm từ ngành dệt nhuộm, nuớc thải là mối quan tâm đặc biệt do quá trình nhuộm và hoàn tất sử dụng một luợng lớn nguyên liệu thô, nuớc, thuốc nhuộm và chất trợ nhuộm. Tiêu thụ nuớc trong quá trình nhuộm dao dộng rất lớn từ 16-900 m3 cho một tấn sản phẩm. Hầu như tất cả các công đoạn của quá trình nhuộm và hoàn tất đều phát sinh nuớc thải, thành phần nuớc thải thuờng không ổn định, thay đổi theo loại thiết bị nhuộm, nguyên liệu nhuộm, khi sử dụng các loại thuốc nhuộm khác nhau có bản chất và màu sắc khác nhau. Nuớc thải nhuộm thuờng có nhiệt độ, độ màu và COD cao và thuờng khó xử lý do cấu tạo phức tạp của thuốc nhuộm cũng như nhiều loại thuốc nhuộm và trợ nhuộm được sử dụng trong quá trình nhuộm và hoàn tất.
                    p Hầu như tất cả các công đoạn của quá trình nhuộm và hoàn tất đều phát sinh nuớc thải, thành phần nuớc thải thuờng không ổn định, thay đổi theo loại thiết bị nhuộm, nguyên liệu nhuộm, khi sử dụng các loại thuốc nhuộm khác nhau có bản chất và màu sắc khác nhau. Nuớc thải nhuộm thuờng có nhiệt độ, độ màu và COD cao và thuờng khó xử lý do cấu tạo phức tạp của thuốc nhuộm cũng như nhiều loại thuốc nhuộm và trợ nhuộm được sử dụng trong quá trình nhuộm và hoàn tất.
                    p Thành phần nuớc thải dệt nhuộm điển hình:
                    p
                        img(src="./img/services/table.png", alt="")
                    p Xử lý nuớc thải dệt nhuộm bao gồm nhiều phương pháp khác nhau, mỗi phương pháp đạt một hiệu quả nhất định đối với một vài chất ô nhiễm tương ứng. Công nghệ xử lý nuớc thải được áp dụng nhằm loại bỏ các thành phần như nhiệt độ, độ màu, TSS, COD, BOD và kim loại nặng. 
                    p Nước thải dệt nhuộm thường có nhiệt độ cao vì thế trong công nghệ xử lý nước thải dệt nhuộm thường có tháp giải nhiệt để giảm nhiệt độ nước thải trước khi qua công đoạn tiếp theo của hệ thống xử lý. Ðối với nguồn nguyên liệu thô được sử dụng trong quá trình sản xuất là polyester và hỗn hợp cotton/polyester thì quá trình keo tụ/tạo bông thuờng đuợc áp dụng truớc công đoạn xử lý sinh học. Quá trình này được thiết kế để loại bỏ TSS, độ màu, một phần chất hữu cơ hoà tan và kim loại nặng. 
                    p Quá trình sinh học tiếp theo bao gồm kỵ khí kết hợp hiếu khí hay hiếu khí cho hiệu quả cao đối với xử lý nuớc thải dệt nhuộm. Xử lý sinh học kỵ khí với UASB hay EGSB đuợc áp dụng và quá trình sinh học hiếu khí đuợc áp dụng là bùn hoạt tính lơ lửng, bùn hoạt tính với vật liệu dính bám. 
                    p Công đoạn xử lý bậc ba đuợc áp dụng bao gồm: 
                        span (1) keo tụ/tạo bông và khử trùng;
                        span (2) lọc (lọc cát và than hoạt tính) và khử trùng; 
                        span (3) oxy hoá nâng cao (ozone hay Fenton) và hiệu chỉnh pH về trung tính. 
                    p Quá trình xử lý bậc 3 đuợc áp dụng để xử lý triệt dể các chất ô nhiễm còn lại trong nuớc thải hay tái sử dụng. 
                    p Ðối với nguồn nguyên liệu là cotton, công nghệ xử lý nguợc lại với nguyên liệu là polyester và hỗn hợp cotton/polyester là quá trình sinh học truớc quá trình hoá lý. Công đoạn xử lý bậc ba tương tự như trên.
    .project-pop
        .container
            .sec-project
                h3.title-block-2 dự án tiêu biểu
                .demo
                    .swiper-container
                        .swiper-wrapper
                            .swiper-slide
                                .item
                                    a(href="")
                                        img(src="./img/services/kcn-small.png", alt="").lazyload
                                .title
                                    a(href="") KCN Minh Hưng - Hàn Quốc
                            .swiper-slide
                                .item
                                    a(href="")
                                        img(src="./img/services/kcn-small.png", alt="").lazyload
                                .title
                                    a(href="") KCN Minh Hưng - Hàn Quốc
                            .swiper-slide
                                .item
                                    a(href="")
                                        img(src="./img/services/kcn-small.png", alt="").lazyload
                                .title
                                    a(href="") KCN Minh Hưng - Hàn Quốc
                            .swiper-slide
                                .item
                                    a(href="")
                                        img(src="./img/services/kcn-small.png", alt="").lazyload
                                .title
                                    a(href="") KCN Minh Hưng - Hàn Quốc
                    .swiper-but
                        .swiper-button-next
                        .swiper-button-prev

