header
	.container
		.main-wrap 
			.left-wrap
				a(href="/").logo
					img(src="./img/logo.png", alt="")
			.right-wrap
				.main-menu 
					ul.menu-list
						li.has-mega-menu
							a(href="#") Trang chủ
						li.has-mega-menu
							a(href="#") Giới thiệu
						li.has-mega-menu
							a(href="#") Sản phẩm