header
    .container
        .main-wrap 
            .left-wrap
                a(href="/").logo
                    img(src="./img/ic/logo.png", alt="")
            .right-wrap
                ul.menu-list
                    li.active
                        a(href="#")
                            span.mdi.mdi-home
                    li
                        a(href="./introduce.html") Giới thiệu
                    li
                        a(href="./technology-detail.html") Công nghệ
                    li
                        a(href="./services-list.html") Dịch vụ
                    li
                        a(href="./project.html") Dự án
                    li
                        a(href="./news-list.html") Tin tức
                    li
                        a(href="./hr.html") Tuyển dụng
                    li
                        a(href="./contact.html") Liên hệ
                .tool-list
                    .search
                        span.mdi.mdi-magnify
                    .block_search
                        .search-icon
                            span.mdi.mdi-close
                        .search_box
                            input(type="text" placeholder="Tìm kiếm")
                            button(type="submit").mdi.mdi-magnify
                    .language-box
                        .language VN
                        a(href="#").other-language EN
                .button-menu
                    .btn
    .mobile-wrap