section.page-banner
	.img
		img(src="./img/banner/1.png", alt="")
	.content-banner
		.container
			.title-page
				h1 Dự án
			ul.breadcrumb
				li
					a(href='/') Trang chủ
				li
					a(href='#') Danh mục cấp 1
				li
					a(href='#') Danh mục cấp 2